absl-py==1.0.0
aiohttp==3.8.3
aioredis==1.3.1
aiosignal==1.3.1
altgraph==0.17.2
amqp==5.1.1
asgiref==3.4.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.2.0
autobahn==21.11.1
Automat==20.2.0
backports.zoneinfo==0.2.1
billiard==3.6.4.0
cachetools==4.2.4
celery==5.2.7
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels-redis==3.3.1
charset-normalizer==2.0.9
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cmake==3.22.4
colorama==0.4.4
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
cycler==0.11.0
daphne==3.0.2
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.9
django-allauth==0.47.0
django-bootstrap3==21.2
django-channels==0.7.0
django-ckeditor==6.2.0
django-crispy-forms==1.13.0
django-google-charts==0.1.1
django-jquery==3.1.0
django-js-asset==1.2.2
django-modeltranslation==0.18.7
django-resized==0.3.11
dlib==19.23.1
easyocr==1.4.1
et-xmlfile==1.1.0
face-recognition==1.3.0
face-recognition-models==0.3.0
flatbuffers==2.0
fonttools==4.28.5
frozenlist==1.3.3
future==0.18.2
gast==0.4.0
geoip2==4.6.0
gevent==21.12.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.43.0
gunicorn==20.1.0
h5py==3.6.0
hiredis==2.0.0
hyperlink==21.0.0
idna==3.3
imageio==2.16.0
importlib-metadata==4.10.1
imutils==0.5.4
incremental==21.3.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.0.3
kiwisolver==1.3.2
kombu==5.2.4
libclang==12.0.0
libretranslatepy==2.1.1
lxml==4.9.1
Markdown==3.3.6
MarkupSafe==2.0.1
maxminddb==2.2.0
msgpack==1.0.3
multidict==6.0.3
networkx==2.6.3
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.3
pefile==2021.9.3
Pillow==9.0.1
prompt-toolkit==3.0.33
protobuf==3.19.3
psycopg==3.0.5
psycopg2==2.9.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pygame==2.1.2
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.1
PyJWT==1.7.1
pyOpenSSL==21.0.0
pyparsing==3.0.6
python-bidi==0.4.2
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2021.3
PyWavelets==1.2.0
pywin32-ctypes==0.2.0
PyYAML==6.0
redis==4.3.5
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
scikit-image==0.19.2
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
termcolor==1.1.0
tifffile==2022.2.9
torchvision==0.11.3
translate==3.6.1
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing-extensions==4.0.1
uritemplate==4.1.1
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
webdavclient3==3.14.6
websocket==0.2.1
Werkzeug==2.0.2
whitenoise==5.3.0
wrapt==1.13.3
yarl==1.8.2
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
