<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- bootstrap css -->
    <!-- font-awesome -->
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
    <!-- custom css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" >
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
</head>
<body>
    <div class="wrapper-tezone">
        <header>
            <div class="header-tezone">
                <div class="container">
                        <div class="header-tezone-top">
                            <ul class="ul-tezone" style="list-style-type: none;">
                                {% if request.user.is_authenticated %}
                                    <li><img class="city-location-image" src="{% static "images/location-ico.png" %}"><a href="#" style="text-decoration: none; color: #fff2f2;">{{ request.user.city }}</a></li>
                                    <li><a href="#" style="text-decoration: none; color: #fff2f2;">{{ request.user.customer.point_issue.address }}</a></li>
                                {% elif request.user.is_authenticated and not request.user.customer.point_issue %}
                                    <li><img class="city-location-image" src="{% static "images/location-ico.png" %}"><a href="#" style="text-decoration: none; color: #fff2f2;">{{ request.user.city }}</a></li>
                                    <li><a href="#" style="text-decoration: none; color: #fff2f2;">Выберите пункт выдачи</a></li>
                                {% else %}
                                    <li><img class="city-location-image" src="{% static "images/location-ico.png" %}"><a href="#" style="text-decoration: none; color: #fff2f2;">Город</a></li>
                                {% endif %}
                            </ul>
                            <a href="#" class="btn btn-tezone">Продавайте на TEZONE</a>
                        </div>
                    <div class="header-tezone-bottom">
                        <div class="row">
                            <div class="col-2">
                                <div class="nav-elements">
                                    <button type="button" class="dropdown-nav-btn">
                                        <img class="dropdown-image" src="{% static "images/main-dropdown.png" %}">
                                    </button>
                                    <h1 style="margin-left: 10px; margin-right: 10px;" class="tezone-text-name">TEZONE</h1>
                                </div>                              
                            </div>
                            <div class="col-8">
                                <div class="block-main-search">
                                    <input style="border: 0px;" class="main-search" type="text" name="main-search" placeholder="Искать..">
                                    <i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i>
                                </div>  
                            </div>
                            <div class="col-2">
                                <div class="navbar-items-cc">
                                    <div style="margin-left: 5px" class="navbar-item-cc">
                                        <a class="navbar-cc__link" href="#">
                                            <img class="navar-cc__icon" src="{% static "images/user.png" %}">
                                            {% if not request.user.is_authenticated %}
                                                Войти
                                            {% else %}
                                                {{ request.user.first_name }}
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="navbar-item-cc">
                                        <a class="navbar-cc__link" href="#">
                                            <img class="navar-cc__icon" src="{% static "images/orders.png" %}">
                                            Заказы
                                        </a>
                                    </div>   
                                    <div class="navbar-item-cc">
                                        <a class="navbar-cc__link" href="#">
                                            <img class="navar-cc__icon" src="{% static "images/cart.png" %}">
                                            Корзина
                                        </a>
                                    </div>       
                                </div>    
                            </div> 
                        </div>    
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="main-tezone">
                {% block tezone-content  %}

                {% endblock tezone-content %}
            </div>
        </main>
            <footer class="footer-tezone">
                <div class="container">
                    <div class="main-footer">
                        <div class="main-footer__ul">
                            <h5 class="footer-header">Компания</h5>
                            <ul class="ul-footer">
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">О нас</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Контакты</a></li>
                            </ul>    
                        </div>
                        <div class="main-footer__ul">
                            <h5 class="footer-header">Покупателям</h5>
                            <ul class="ul-footer">
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Как сделать заказ</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Доставка</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Возврат товара</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Возврат денежных средств</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Правила продажи</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Вопросы и ответы</a></li>
                            </ul>    
                        </div> 
                        <div class="main-footer__ul">
                            <h5 class="footer-header">Категории</h5>
                            <ul class="ul-footer">
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Электроника</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Одежда</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Обувь</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Бытовая техника</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">Красота и здоровье</a></li>
                                <li class="ul-footer-item"><a href="#" style="text-decoration: none; color: rgba(255,255,255,.7);">...</a></li>
                            </ul>    
                        </div>     
                    </div>
                    <hr>
                    <div class="copyright">
                        <p>2022 © Tezone — интернет-магазин электроники, одежды и многое другое.</p>
                        <p>Все права защищены.</p>
                    </div>    
                </div>    
            </footer>
    </div>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>