<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет магазин керамических плиток | "КерамПлита"</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- bootstrap css -->
    <!-- font-awesome -->
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
    <!-- custom css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" >
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
</head>
<body>
    <div class="wrapper-tezone">
        <header>
            <div class="header-tezone" style="background: linear-gradient(to right,#7474BF 0,#348AC7 100%) no-repeat;">
                <div class="my_container">
                        <div class="header-tezone-top">
                            <ul class="ul-tezone" style="list-style-type: none; display: flex; justify-content: space-between; align-items: center; width: 100%">
                                    <li><img class="city-location-image" src="{% static "images/location-ico.png" %}"><a href="#" style="text-decoration: none; color: #fff2f2;">г.Челябинск, ул.Доватора 11, офис 1</a></li>
                                    <li><img class="city-location-image" src="{% static "images/mail.png" %}"><a href="#" style="text-decoration: none; color: #fff2f2;">ceramplita@yandex.ru</a></li>
                                    <li><img class="city-location-image" src="{% static "images/phone-call.png" %}"><a href="#" style="text-decoration: none; color: #fff2f2;">+7(919) 351 16 29</a></li>
                            </ul>
                        </div>
                    <div class="header-tezone-bottom">
                                <div class="nav-elements">
                                    <a href="{% url "main_page" %}" style="text-decoration: none; color: white;"><h1 style="margin-left: 10px; margin-right: 10px; margin-bottom: 0;" class="tezone-text-name">КерамПлита</h1></a>
                                </div>
                                <form method="get" action="{% url "search" %}" style="width: 100%">
                                <div class="block-main-search" style="width: 100%">
                                    <input style="border: 0px; color: white!important;" class="main-search" type="text" name="q" placeholder="Искать.." >
                                    <i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i>
                                </div>
                                </form>
                                <div class="navbar-items-cc">
                                    <div style="margin-left: 5px" class="navbar-item-cc">
                                        <a class="navbar-cc__link" href="#" style="color: white">
                                            <img class="navar-cc__icon" src="{% static "images/user-white.png" %}">
                                            {% if not request.user.is_authenticated %}
                                                Войти
                                            {% else %}
                                                {{ request.user.first_name }}
                                            {% endif %}
                                        </a>
                                    </div>
                                <div class="navbar-item-cc">
                                        <a class="navbar-cc__link" href="{% url "cart" %}" style="color: white">
                                            <img class="navar-cc__icon" src="{% static "images/shopping-cart.png" %}">
                                            Корзина
                                        </a>
                                    </div>       
                                </div>
                        </div>    
                    </div>
                </div>
        </header>
        <main>
            <div class="main-tezone">
                {% block tezone-content  %}

                {% endblock tezone-content %}
            </div>
        </main>
            <footer class="footer-tezone" style="height: auto">
                <div class="my_container">
                    <div class="copyright">
                        <p>2023 © КерамПлита — интернет-магазин керамических плиток.</p>
                        <p>Все права защищены.</p>
                    </div>    
                </div>    
            </footer>
    </div>
<script src="{% static "js/main.js" %}"></script>
</body>
</html>